<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
<!-- 配置 FirstServlet -->
    <servlet>
        <servlet-name>FirstServlet</servlet-name>

        <!-- 类的全限定名  也是全部路径-->
        <servlet-class>com.javacto.servlet.FirstServlet</servlet-class>
    </servlet>
    <!--配置映射路径 也是外面访问的路径-->
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <!--外面访问的路径  必须前面添加/-->
        <url-pattern>/MyFirstCom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>

        <servlet-class>com.javacto.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
</web-app>
